[package]
name = "erg_compiler"
version = "0.2.3"
description = "Centimetre: the Erg compiler"
authors = ["Shunsuke Shibayama <sbym1346@gmail.com>"]
license = "MIT OR Apache-2.0"
edition = "2021"
repository = "https://github.com/erg-lang/erg/tree/main/src/erg_compiler"
documentation = "https://docs.rs/erg_compiler"
homepage = "https://erg-lang.github.io/"

[features]
# when "debug" feature is turned on, that of parser will also be turned on.
debug = [ "erg_common/debug", "erg_parser/debug" ]
japanese = [ "erg_common/japanese", "erg_parser/japanese" ]

[dependencies]
erg_common = { version = "0.2.3", path = "../erg_common" }
erg_parser = { version = "0.2.3", path = "../erg_parser" }

[lib]
path = "lib.rs"

[[bin]]
name = "cm"
path = "main.rs"
