<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vscode-codicons@0.0.15/dist/codicon.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/line-numbers/prism-line-numbers.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="darcula.css">
    <script defer src="prism.js"></script>
    <script defer src="search.js"></script>
</head>

<body>
    <header style="display: flex; align-items: center;">
        <div style="font-size:large">Erg docs</div>
        <div style="margin-left: auto;">
            <span class="icon"><i class="fas fa-search"></i></span>
            <input id="search-box" type="text" placeholder="Search words" class="search-bar">
        </div>
    </header>
    <main>
        <div class="container">
            <div class="sidebar">
                <div class="fix">
                    <h3><a href="#">{{ module.name }}.</a></h3>
                    <h3><i class="codicon codicon-symbol-method"></i>Subroutines</h3>
                    <ul>
                        {% for sub in module.subroutines %}
                        <li><a href="#{{ sub.name }}">{{ sub.name }}</a>
                            <div class="type">: {{ sub.typ }}</div>
                        </li>
                        {% endfor %}
                    </ul>
                    <h3><i class="codicon codicon-symbol-class"></i>Classes</h3>
                    <ul>
                        {% for class in module.classes %}
                        <li><a href="#{{ class.name }}">{{ class.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <h3><i class="codicon codicon-symbol-constant"></i>Variables</h3>
                    <ul>
                        {% for attr in module.attrs %}
                        <li><a href="#{{ attr.name }}">{{ attr.name }}<div class="type">: {{ attr.typ }}</div></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="content">
                <main>
                    <h2>Module <a href="#">{{ module.name }}</a></h2>
                    {% if module.description %}
                    <p class="description">{{ module.description }}</p>
                    {% endif %}
                </main>

                <h2>Subroutines</h2>
                <hr>

                {% for sub in module.subroutines %}
                <section id="{{ sub.name }}">
                    <div class="api-name"><i class="codicon codicon-symbol-method"></i>{{ sub.name }}</div>
                    {% if sub.description %}
                    <p class="description">{{ sub.description }}</p>
                    {% endif %}
                    <p><strong>Type</strong></p>
                    <pre><code class="language-rust">{{ sub.typ }}</code></pre>
                    {% if sub.example %}
                    <p><strong>Example</strong></p>
                    <pre style="display:flex;">
                        <code class="language-rust">{{ sub.example }}</code>
                        <div class="icons">
                            <span class="icon"><i class="fas fa-copy"></i></span>
                            <span class="icon"><i class="fas fa-play"></i></span>
                        </div>
                    </pre>
                    {% endif %}
                    {% if sub.output %}
                    <p><strong>Output</strong></p>
                    <pre><code>{{ sub.output }}</code></pre>
                    {% endif %}
                </section>
                {% endfor %}

                <h2>Classes</h2>
                <hr>

                {% for class in module.classes %}
                <section id="{{ class.name }}">
                    <div class="api-name"><i class="codicon codicon-symbol-class"></i>{{ class.name }}</div>
                    {% if class.description %}
                    <p class="description">{{ class.description }}</p>
                    {% endif %}
                    <h3>Instance Attributes</h3>
                    <ul>
                        {% for attr in class.instance_attrs %}
                        <li><a href="#{{ attr.name }}">{{ attr.name }}</a>
                            <div class="type">: {{ attr.typ }}</div>
                        </li>
                        {% endfor %}
                    </ul>
                    <h3>Class Attributes</h3>
                    <ul>
                        {% for attr in class.class_attrs %}
                        <li><a href="#{{ attr.name }}">{{ attr.name }}</a>
                            <div class="type">: {{ attr.typ }}</div>
                        </li>
                        {% endfor %}
                    </ul>
                    <h3>Methods</h3>
                    <ul>
                        {% for method in class.methods %}
                        <li><a href="#{{ method.name }}">{{ method.name }}</a>
                            <div class="type">: {{ method.typ }}</div>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
                {% endfor %}

                <h2>Attributes</h2>
                <hr>

                {% for attr in module.attrs %}
                <section id="{{ attr.name }}">
                    <div class="api-name"><i class="codicon codicon-symbol-constant"></i>{{ attr.name }}</div>
                    {% if attr.description %}
                    <p class="description">{{ attr.description }}</p>
                    {% endif %}
                    <p><strong>Type</strong></p>
                    <pre><code class="language-rust">{{ attr.typ }}</code></pre>
                </section>
                {% endfor %}
            </div>
        </div>
    </main>
</body>

</html>
