name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - v[0-9]+.*

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: taiki-e/create-gh-release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  upload-assets:
    needs: create-release
    strategy:
      matrix:
        include:
          ## permission denied?
          # - target: armv7-unknown-linux-gnueabihf
          #   os: ubuntu-latest
          # - target: aarch64-unknown-linux-gnu
          #   os: ubuntu-latest
          - target: aarch64-apple-darwin
            os: macos-latest
          # - target: x86_64-unknown-linux-gnu
          #   os: ubuntu-latest
          # Erg has to link to libc statically, so we need to use musl
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
          - target: x86_64-apple-darwin
            os: macos-latest
          - target: x86_64-pc-windows-msvc
            os: windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: update-rustup
        run: rustup update stable
      - uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: erg
          target: ${{ matrix.target }}
          include: compiler/erg_compiler/lib
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
