name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: Swatinem/rust-cache@v2
    - name: rust-clippy-check
      uses: actions-rs/clippy-check@v1.0.7
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
